html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
    color: #f4f4f5;
    line-height: 1.6;
    max-width: 50vw;
    margin: 20px auto;
    background-color: #1f2126;
    overflow-wrap: break-word;
}

hr {
    margin: 2.5rem 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

h4,
h5,
h6 {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.441rem;
}
h2 {
    font-size: 1.953rem;
}
h3 {
    font-size: 1.563rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #38bdf8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul,
ol {
    padding-left: 2rem;
    margin-bottom: 1rem;
}
li {
    margin-bottom: 0.5rem;
}
ul li:last-child,
ol li:last-child {
    margin-bottom: 0;
}

code {
    background-color: #3e4248;
    font-size: 0.85rem;
    padding: 0.15rem 0.3rem;
    border-radius: 0px;
    color: #d1d1d6;
}

pre {
    background-color: #3e4248;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    overflow: visible;
    border-radius: 0px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
pre code {
    background-color: transparent;
    font-size: 0.85rem;
    border: none;
    padding: 0;
    white-space: pre-wrap;
    color: #d1d1d6;
    word-break: break-word;
}

blockquote {
    padding: 0.5rem 0 0.5rem 0.75rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #c0c0c0;
}
blockquote p {
    margin-bottom: 0.5rem;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

/* --- 目录样式 --- */
#toc-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 15vw;
    max-width: 20vw;
    max-height: 95vh;
    overflow-y: auto;

    background-color: #1f2126;
    border: 2px solid #3e4248;
    border-radius: 0px;

    font-size: 0.85rem;
    padding: 1rem;
    z-index: 100;
    display: none;
}

/* 仅在 1200px 及以上时生效 */
@media (min-width: 1200px) {
    #toc-container {
        display: block;
    }
}

#toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#toc-list li {
    margin: 0;
}

#toc-list a {
    color: #f4f4f5;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0px;
}

#toc-list a:hover {
    background-color: #3e4248;
    text-decoration: none;
}

/* 视口宽度小于1200px */
@media (max-width: 1199.98px) {
    body {
        max-width: 70vw;
    }
}

/* 视口宽度小于768px */
@media (max-width: 767.98px) {
    body {
        max-width: 90vw;
    }
}
