<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rain drop</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/index.js" defer></script>
</head>
<body>
    <!-- <h1><span>✿</span><span>RAIN</span>DROP</h1> -->
    <h1><span>✿</span><span>rain</span>drop</h1>
    <div id="resources" class="loading">正在努力加载文件...</div>
    <template id="file-item-template">
        <!-- href: 指向后端下载 API, download: 强制浏览器下载文件, 而非预览 (即使后端也强制) -->
        <a href="/api/download" class="file-item" download>
            <span class="file-name"></span>
            <span class="file-size"></span>
        </a>
    </template>
</body>
</html>
